.navbar {
	position: sticky;
	box-shadow: 0 1px 10px 1px $navbar-box-shadow-color;
	text-shadow: 0 1px 0 $gray-dark;
	backdrop-filter: blur( 10px );

	.navbar-brand {
		&,
		&:hover {
			color: inherit;
		}
	}
}

.navbar-light {
	background: $navbar-light-bg;

	.backdropfilter & {
		background: $navbar-light-blurred-bg;
	}
}

.navbar-dark {
	background: $navbar-dark-bg;

	.backdropfilter & {
		background: $navbar-dark-blurred-bg;
	}
}

.backdropfilter {

	.navbar-light {
		background: $navbar-light-blurred-bg;
	}

	.navbar-dark {
		background: $navbar-dark-blurred-bg;
	}

}

.navbar-brand {
	margin: 0;
}

.navbar-nav {
	float: right;
	width: 100%;

	.nav-item {
		float: none;
		padding: 1rem 0;
		margin-left: 0 !important;
		border-bottom: 1px solid $gray-light;

		&:first-child {
			padding-top: 0.5rem;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.icon {
		width: 1.25rem;
		margin-right: 0.25rem;
		text-align: center;
	}
}

@include media-breakpoint-up( sm ) {

	.navbar {
		padding-bottom: 0;

		.navbar-brand {
			padding: 0.5rem 1rem;
			padding-left: 0;
			font-size: $font-size-h2;
			line-height: $font-size-h2;

			small {
				// font-style: italic;
				font-size: $font-size-h3;
			}
		}
	}

	.navbar-nav {
		float: right;
		width: auto;

		.nav-item {
			float: left;
			padding: 0.5rem 1rem 1rem;
			border-bottom: 0;
			line-height: $font-size-h2;

			&:last-child {
				padding-right: 0;
			}
		}

		.nav-link {
			&.active {
				border-bottom: 4px solid $color-light;
				color: $color-light;
			}
		}

		.icon {
			margin-right: 0;
		}
	}

}
