.portfolio {

}

.portfolio-items {
	@extend .row;
}

.portfolio-item {
	@extend .col-sm-6;
	@extend .col-md-4;

	margin-bottom: 1.666666rem;
}

.portfolio-item__link {
	position: relative;
	display: block;
}

.portfolio-item__image {
	@extend .img-fluid;
	@extend .img-thumbnail;

	box-shadow: 0 1px 4px $box-shadow-color;
}

.portfolio-item__overlay {
	position: absolute;
	top: $thumbnail-padding;
	right: $thumbnail-padding;
	bottom: $thumbnail-padding;
	left: $thumbnail-padding;
	display: none;
	padding: 1rem;
	color: $color-light;
	background-color: $bg-dark-translucent;
	text-align: center;

	.portfolio-item__link:hover & {
		display: block;

		.flexbox & {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}
