# OS X system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows system files
Thumbs.db
ehthumbs.db

# Dependencies / vendor packages
node_modules
bower_components
**/styles/_vendor


# Compiled assets
dist
tmp

# Code coverage
/coverage/*

# Log files
*.log
npm-debug.log*

# Cache folders
.sass-cache
.npm

# Misc
connect.lock
.awcache/
build/
