<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>

<script type="text/template" name="home">
	<h1>Home</h1>
	<p><a href="#/portfolio">Portfolio &rarr;</a></p>
	<p><a href="#/blog">Blog &rarr;</a></p>
	<p><a href="#/contact">Contact &rarr;</a></p>
</script>

<script type="text/template" name="portfolio">
	<h1>Portfolio</h1>
	<p><a href="#/">Home &rarr;</a></p>
	<p><a href="#/blog">Blog &rarr;</a></p>
	<p><a href="#/contact">Contact &rarr;</a></p>
</script>

<script type="text/template" name="blog">
	<h1>Blog</h1>
	<p><a href="#/">Home &rarr;</a></p>
	<p><a href="#/portfolio">Portfolio &rarr;</a></p>
	<p><a href="#/contact">Contact &rarr;</a></p>
</script>

<script type="text/template" name="contact">
	<h1>Contact</h1>
	<p><a href="#/">Home &rarr;</a></p>
	<p><a href="#/portfolio">Portfolio &rarr;</a></p>
	<p><a href="#/blog">Blog &rarr;</a></p>
</script>


<script src="{{ '/_assets/js/all.min.js' | prepend: site.baseurl }}"
