html {
	font-size: 18px;
}

body {
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	text-size-adjust: 100%;
	padding-top: 6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $font-family-headings;
}

ul,
ol {
	padding-left: 1rem;
	list-style-position: inside;
}

li {
	> i {
		padding-right: 0.25rem;
	}
}

pre,
code,
.hljs {

	&,
	.editor-preview &,
	.editor-preview-side & {
		display: block;
		color: $color-light;
		background: $gray-dark;

		.hljs-comment,
		.hljs-quote,
		.hljs-deletion,
		.hljs-meta {
			color: $gray-light;
		}
	}
}

.CodeMirror,
.editor-preview,
.editor-preview-side {
	padding: 0.5rem;
	color: $body-color;
}

.editor-preview,
.editor-preview-side {
	background: $body-bg;
}
