
@import '../variables';

$brand-color: #61dafb;
$root-color: #fff;
$root-background-color: #373277;

.root {
  color: $root-color;
  background: $root-background-color;
}

.container {
  max-width: $max-content-width;
  padding: 20px 0;
  margin: 0 auto;
}

.brand {
  color: tint($brand-color, 10%);
  font-size: 1.75em;
  text-decoration: none;
}

.brandText {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
}


.bannerTitle {
  padding: 10px;
  margin: 0;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
}
