@import '../variables';

.root {
  color: #333;
  background: #f5f5f5;
}

.container {
  max-width: $max-content-width;
  padding: 20px 8px;
  margin: 0 auto;
  font-size: 1.5em; /* ~24px */
  text-align: center;
}

.link,
.link:active,
.link:hover,
.link:visited {
  color: #333;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.spacer {
  padding-left: 15px;
  padding-right: 15px;
}
