.navbar {
	padding: 1rem 0;
	box-shadow: 0 1px 10px 1px $navbar-box-shadow-color;
	text-shadow: 0 1px 0 $gray-dark;
	backdrop-filter: blur( 10px );

	.site-header & {
		margin-bottom: 2rem;
	}
}

.navbar-light {
	background: $navbar-light-bg;
}

.navbar-dark {
	background: $navbar-dark-bg;

	.navbar-brand {
		&,
		&:hover {
			color: inherit;
		}
	}
}

/* uncss:ignore */
.backdropfilter .navbar-light {
	background: $navbar-light-blurred-bg;
}

/* uncss:ignore */
.backdropfilter .navbar-dark {
	background: $navbar-dark-blurred-bg;
}

.navbar-nav {
	float: right;
	width: 100%;

	.nav-link {
		float: none;
		margin-left: 0 !important;
		border-bottom: 1px solid $gray-light;
	}

	.icon {
		width: 1.25rem;
		margin-right: 0.5rem;
		text-align: center;
	}
}

@include media-breakpoint-up( sm ) {

	.navbar {
		.navbar-brand {
			padding: 0.5rem 1rem;
			padding-left: 0;
			margin: 0;
			font-size: $font-size-h2;
			line-height: $font-size-h2;

			small {
				// font-style: italic;
				font-size: $font-size-h3;
			}
		}
	}

	.navbar-nav {
		float: right;
		width: auto;

		.nav-link {
			float: left;
			padding: 0.5rem 1rem;
			border-bottom: 0;
			line-height: $font-size-h2;

			&:last-child {
				padding-right: 0;
			}
		}

		.icon {
			margin-right: 0;
		}

	}
}
