// Global Options

$enable-flex:               true;
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          false;
$enable-transitions:        false;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;

// Grid

$grid-gutter-width:          1.25rem; // 22.5px


// Typography

$font-family-sans-serif:     'Roboto Slab', 'Roboto', 'Ubuntu', sans-serif;
$font-family-serif:          'Roboto Slab', serif;
$font-family-monospace:      'Roboto Mono', 'Ubuntu Mono', monospace;
$font-family-base:           $font-family-sans-serif;
$font-family-headings:       'Raleway', $font-family-sans-serif;

$font-size-root:             18px;

$font-size-lg:               1.25rem;
$font-size-sm:               0.8rem;
$font-size-xs:               0.8rem;

$font-size-h1:               1.9375rem;
$font-size-h2:               1.5625rem;
$font-size-h3:               1.25rem;
$font-size-h4:               1rem;
$font-size-h5:               0.8rem;
$font-size-h6:               0.8rem;


// Margin, padding, border radius, etc.
$navbar-border-radius:       0;
$navbar-padding-vertical:    0.5rem;
$nav-link-padding:           0.5rem 1rem 1rem;


// Default Colors

$gray-dark:                 #403d39;
$gray:                      #66615b;
$gray-light:                #9a9a9a;
$gray-lighter:              #e3e3e3;
$gray-lightest:             #f5f5f5;

$brand-primary:             #7a9e9f;
$brand-success:             #7ac29a;
$brand-info:                #68b3c8;
$brand-warning:             #f3bb45;
$brand-danger:              #eb5e28;


// Custom colors

$color-light:                #fffcf5;
$color-light-alt:            $gray-lightest;
$color-dark:                 $gray;

$bg-light:                   $color-light;
$bg-light-alt:               $color-light-alt;
$bg-dark:                    $color-dark;
$bg-dark-translucent:        fade-out( $bg-dark, 0.25 );

$border-light:               fade-out( $color-light, 0.5 );
$border-light-alt:           $color-light-alt;
$border-dark:                fade-out( $color-dark, 0.5 );

$box-shadow-color:           fade-out( $color-dark, 0.25 );


// Body

$body-bg:                    $bg-light;
$body-color:                 $color-dark;


// Links

$link-color:                 $brand-info;
$link-hover-color:           darken( $link-color, 5% );
$link-hover-decoration:      none;


// Components.

$component-active-bg:         $brand-danger;
$component-active-color:      $color-light;
$component-dark-active-bg:    $color-dark;
$component-dark-active-color: $link-color;


// Tables

$table-bg:                      transparent;
$table-bg-accent:               $color-light;
$table-bg-hover:                $table-bg-accent;
$table-bg-active:               $table-bg-accent;
$table-border-color:            $border-dark;


// Buttons

$btn-secondary-color:            #fff;
$btn-secondary-bg:               $color-dark;
$btn-secondary-border:           $color-dark;


// Forms

$input-bg:                       $color-light;
$input-bg-disabled:              $gray-light;

$input-color:                    $color-dark;
$input-border-color:             $border-dark;


$input-border-focus:             $brand-info;
$input-box-shadow-focus:         rgba( 104, 179, 200, 0.6 );

$input-color-placeholder:        $gray-light;

$input-group-addon-bg:           $input-bg;
$input-group-addon-border-color: $input-border-color;


// Form states and alerts

$state-success-text:             #42a084;
$state-success-bg:               $brand-success;
$state-success-border:           $state-success-bg;

$state-info-text:                #3091b2;
$state-info-bg:                  $brand-info;
$state-info-border:              $state-info-bg;

$state-warning-text:             #bb992f;
$state-warning-bg:               $brand-warning;
$state-warning-border:           $state-warning-bg;

$state-danger-text:              #b33c12;
$state-danger-bg:                $brand-danger;
$state-danger-border:            $state-danger-bg;


// Form validation icons

$form-icon-success: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg==';
$form-icon-warning: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+';
$form-icon-danger: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=';


// Dropdowns

$dropdown-bg:                    $color-light;
$dropdown-border-color:          $border-dark;
$dropdown-divider-bg:            $dropdown-border-color;

$dropdown-link-color:            $color-dark;
$dropdown-link-hover-color:      $dropdown-bg;
$dropdown-link-hover-bg:         $dropdown-link-color;

$dropdown-link-active-color:     $component-active-color;
$dropdown-link-active-bg:        $component-active-bg;

$dropdown-link-disabled-color:   $gray-light;

$dropdown-header-color:          $gray-light;


// Navbar

$navbar-box-shadow-color:           $box-shadow-color;
$navbar-dark-blurred-bg:            fade-out( $gray-dark, 0.1 );
$navbar-light-blurred-bg:           fade-out( $color-light, 0.1 );

$navbar-dark-color:                 $color-light;
$navbar-dark-bg:                    fade-out( $color-dark, 0.01 );
$navbar-dark-hover-color:           $color-light;
$navbar-dark-active-color:          $color-light;
$navbar-dark-disabled-color:        $gray-light;

$navbar-light-color:                $color-dark;
$navbar-light-bg:                   fade-out( $color-light, 0.01 );
$navbar-light-hover-color:          $component-active-bg;
$navbar-light-active-color:         $component-active-bg;
$navbar-light-disabled-color:       $gray-light;


// Pagination

$pagination-color:                     $component-active-bg;
$pagination-bg:                        $component-active-color;
$pagination-border-color:              $component-active-bg;

$pagination-hover-color:               $component-active-color;
$pagination-hover-bg:                  $component-active-bg;
$pagination-hover-border:              $component-active-bg;

$pagination-active-color:              $component-active-color;
$pagination-active-bg:                 $component-active-bg;
$pagination-active-border:             $component-active-bg;

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               transparent;
$pagination-disabled-border:           transparent;


// Pager

$pager-border-color:                   $pagination-border-color;
$pager-hover-bg:                       $pagination-hover-bg;
$pager-active-bg:                      $pagination-active-bg;
$pager-active-color:                   $pagination-active-color;
$pager-disabled-color:                 $pagination-disabled-color;


// Jumbotron

$jumbotron-bg:             $gray-lighter;


// Cards

$card-border-color:        $gray-lighter;
$card-cap-bg:              $gray-lightest;
$card-link-hover-color:    $link-hover-color;


// Tooltips

$tooltip-bg:                  $color-dark;


// Labels

$label-default-bg:            $color-dark;


// Modals

$modal-backdrop-bg:           $color-dark;
$modal-header-border-color:   $gray-lighter;
$modal-footer-border-color:   $modal-header-border-color;

$modal-lg:                    90%;
$modal-md:                    70%;
$modal-sm:                    50%;


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-success-bg:            $state-success-bg;
$alert-success-text:          $state-success-text;
$alert-success-border:        $state-success-border;

$alert-info-bg:               $state-info-bg;
$alert-info-text:             $state-info-text;
$alert-info-border:           $state-info-border;

$alert-warning-bg:            $state-warning-bg;
$alert-warning-text:          $state-warning-text;
$alert-warning-border:        $state-warning-border;

$alert-danger-bg:             $state-danger-bg;
$alert-danger-text:           $state-danger-text;
$alert-danger-border:         $state-danger-border;


// Progress bars

$progress-bg:                 $gray-lighter;
$progress-bar-color:          #fff;

$progress-bar-bg:             $brand-primary;
$progress-bar-success-bg:     $brand-success;
$progress-bar-warning-bg:     $brand-warning;
$progress-bar-danger-bg:      $brand-danger;
$progress-bar-info-bg:        $brand-info;


// List group

$list-group-bg:                 #fff;
$list-group-border-color:       $gray-lighter;

$list-group-hover-bg:           $gray-lightest;
$list-group-active-color:       $component-active-color;
$list-group-active-bg:          $component-active-bg;
$list-group-active-border:      $list-group-active-bg;
$list-group-active-text-color:  lighten( $list-group-active-bg, 40% );

$list-group-disabled-color:      $gray-light;
$list-group-disabled-bg:         $gray-lighter;
$list-group-disabled-text-color: $list-group-disabled-color;

$list-group-link-color:         $gray;
$list-group-link-hover-color:   $list-group-link-color;
$list-group-link-heading-color: $gray-dark;


// Image thumbnails

$thumbnail-bg:                $color-light;
$thumbnail-border-color:      $color-light;

// Breadcrumbs

$breadcrumb-bg:                 $color-light;
$breadcrumb-divider-color:      $color-dark;
$breadcrumb-active-color:       $color-dark;


// Close

$close-color:                 $color-dark;
$close-text-shadow:           0 1px 0 $color-light;


// Code

$code-color:                  $state-danger-text;
$code-bg:                     $color-light;

$kbd-color:                   #fff;
$kbd-bg:                      $color-dark;

$pre-color:                   $color-dark;
$pre-bg:                      $gray-lightest;
$pre-border-color:            $gray-lightest;
